<!DOCTYPE html>
<html>
  <head>
    {{#with masthead}}
        {{{head}}}
    {{/with}}
    <title>{{title}}</title>
  </head>
  <body>
    {{#with masthead}}
        {{{body}}}
    {{/with}}

    {{{@body}}}

    {{#with masthead}}
        {{{footer}}}
    {{/with}}
  </body>
</html>
